/* FONT- FACE */

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
      url("../fonts/Manrope-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fraunces 144pt";
    src: url("../fonts/Fraunces144pt-SemiBold.woff2") format("woff2"),
      url("../fonts/Fraunces144pt-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*CUSTOM PROPS*/
:root{
    /*colors*/
    --dark-purple: #24053E;
    --eucaplyptus: #44FFA1;
    --davys-grey: #584D62;
    --ghost-white: #fcf8ff;

    /*fonts*/


    --heading-font-family:"Fraunces 144pt","Times and Roman ",serif;
    --body-font-family:"Manrope","Arial",sans-serif;

}


body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--body-font-family);
    font-size: 18px;
    line-height: 32px;
    background-color: #fff;
    color:var(--dark-purple);
}

.container{
    width: 100%;
    max-width: 1146px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
}